*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    max-width: 100%;
    width: 100vw;
    height: 321px;
    box-sizing: border-box;
    padding: 0;
    background-image: radial-gradient(at 30%top,#031d33 0%,rgba(3,37,65) 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    display: flex;
    justify-content: center;
}

.footer .join{
    text-align: right;
    position: relative;
    top: -36px;
    right:0;
    
}

.footer div{
    margin-right: 40px;
    min-width: 0;
    box-sizing: border-box;
}

.footer nav{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
}

.footer .join img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.footer .join .rounded{
    position: relative;
    top: 140px;
    border-color: #fff;
    background-color: #fff;
    color: rgba(1,180,228);
    font-size: 1.3em;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear .1s;
    text-decoration: none;
}

.footer .basics{
    margin-right: 40px;
    min-width: 0;
    box-sizing: border-box;
    display: block;
}

.footer .basics li{
    list-style: none;
}

.footer .basics li a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.footer .basics h3{
    font-size: 1.4em;
    line-height: 1.4em;
    color: #fff;
    white-space: nowrap;
}

.footer .involved{
    margin-right: 40px;
    min-width: 0;
    box-sizing: border-box;
}

.footer .involved li{
    list-style: none;
}

.footer .involved a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.footer .community{
    margin-right: 40px;
    min-width: 0;
    box-sizing: border-box;
}

.footer .community li{
    list-style: none;
}

.footer .community li a{
    text-decoration: none;
    color: #fff;
}